@model EmployeeVM
@{
    ViewData["Title"] = "EmployeeList";
}

<h1>EmployeeList</h1>

@if (Model.Employees.Count == 0)
{
    <div class="jumbotron">

        Henüz hicbir çalışan eklenmemiş...Çalışan eklemek icin <a asp-action="AddEmployee" asp-controller="Employee">tıklayınız</a>
        <!--Bu kısımda actionlinkte kullanabiliriz hatta aynı anda bile kullanabiliriz ancak core'da "asp-action"şekilde daha performanslıdır.

            Startup içinde controller ve interface ismmini yazmak gerekir. MVC gibi çalışmaz.
            -->
    </div>
}



else
{

    <h1>@Html.ActionLink("Çalışan Ekle", "AddEmployee")</h1>
    <table class="table table-hover">
        <tr>
            <th>FirstName</th>
           
            <th colspan="2">Islemler</th>
        </tr>
        @foreach (Employee item in Model.Employees)
        {
            <tr>
                <td>
                    @item.FirstName
                </td>

                <td>
                    <a class="btn btn-warning" asp-action="UpdateEmployee" asp-controller="Employee" asp-route-id="@item.ID">Çalışan Güncelle</a>
             

                </td>
                <td>
                    <a class="btn btn-danger" asp-action="DeleteEmplyoee" asp-controller="Employee"  asp-route-id="@item.ID">Çalışan Sil</a>
                </td>
            </tr>
        }
    </table>



}